body{
    color: #ABABBA;
}

p{
    text-align: justify;
}

h1, h2, h3, h4 {
    color: #ffffff;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0;
}

h2 {
    font-size: 1.8em;
    font-weight: 700;
}

h3 {
    font-size: 1.6em;
    font-weight: 700;
}

h4 {
    font-size: 1.4em;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.9em;
    margin: 2em 0;
    font-size: 1em;
    font-weight: 500;
}

.blog-post {
    width: 80%;
    max-width: 1100px;
    background: white;
    margin: 20px auto 0;
    border: 1px solid #f4f4f4;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

.blog-hero {
    width: 100%;
    height: 0;
    padding-bottom: 30%;
    background: url("./assets/images/slide3.jpg") 20% 70% no-repeat;
    background-size: cover;
    position: relative;
}

summary {
    margin-top: 20px;
    display: inline-block;
}

summary h3 {
    width: 100%;
    font-size: 2.5em;
    color: #555;
    font-weight: 500;
}

summary .blog-date {
    width: 100%;
    font-size: 15px;
    padding-left: 2px;
    color: #909090;
}

article {
    padding-bottom: 50px;
}

.blog-content {
    width: 55%;
    margin: auto;
}

.blog-img {
    width: 55%;
    height: 120%;
    margin: 50px auto 60px;
    padding-bottom: 65%;
    background: url(./assets/images/re.png) center center;
    background-size: cover;
    position: relative;
}

.blog-img-caption {
    position: absolute;
    bottom: -30px;
    font-size: 0.9em;
    color: #cacaca;
    left: 4%;
}

b {
    font-weight: bold;
}

@media (min-width: 601px) and (max-width: 1000px) {
    .blog-post {
        width: 90%;
    }

    .blog-content {
        width: 75%;
    }

    .blog-hero {
        padding-bottom: 35%;
    }
}
@media (max-width: 600px) {
    .blog-post {
        font-size: 0.9em;
        width: 90%;
    }

    .blog-content {
        width: 80%;
    }

    .blog-img {
        width: 90%;
        padding-bottom: 50%;
    }

    .blog-hero {
        padding-bottom: 60%;
    }
    
}
@font-face {
    font-family: 'permanent';
    src: url("./assets/css/PermanentMarker-Regular.ttf");
}

.permanent{
    font-family: permanent;
    font-size: 16px;
}